:root{
  --main-color-lt: #594922;
  --main-bg-color-light: #ffffff;
  --secondary-color-lt: #4dd897;
  --font-color: #212529;
  --font-color-light: #f8f9fa;
  --footer-muted:#d1c199;
  --nav-img: url(/items/iHnew2.png);
  --img-background: none;
}
[data-theme="dark"] {
  --main-color-lt: #fefee7;
  --main-bg-color-light: #221c0c;
  --secondary-color-lt: #4dd897;
  --font-color: #f8f9fa;
  --font-color-light: #212529;
  --footer-muted:#b9ac88;
  --nav-img: url(/items/iHnew2-light.png);
  --img-background: #fefee7;
}

html{
  scroll-padding-top: 150px;
}
body{
    font-family: 'Comfortaa', cursive;
    background-color: var(--main-bg-color-light);
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h6{/* auther */
  margin-bottom: 5px;
  line-height: normal;
  color: var(--font-color);
}

.bg-match-light{
    background-image: url("/items/brushed-alum.png");
    /*background-color: #594922;*/
    color: var(--main-bg-color-light);
}
.navbar{
  position: fixed;
  top: 0;
  transition: top 0.3s;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-image {
    width: 56px;
    background-image: var(--nav-img);
    background-size: 56px 130px;
    height: 65px;
    overflow: hidden;
    transition: transform .25s;
}
.nav-image:hover, .nav-image:focus{
    background-position-y: -65px;
}

a, a.nav-link, a.nav-link:focus, .bd-footer a {
    text-decoration: none;
    color: var(--main-color-lt);
}

.btn-outline-success {
    border-color: var(--main-color-lt);
    color: var(--main-color-lt);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0;
}
.menu-btn {
  display: inline-block;
  cursor: pointer;
}
.navbar-toggler-icon {
  width: 20px;
  height: 15px;
  position: relative;
}
.navbar-toggler-icon span{ 
  display: block;
  position: absolute;
  background: var(--main-color-lt);
  height: 2px;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar-toggler-icon span:nth-child(1) {
  top: 0px;
}
.navbar-toggler-icon span:nth-child(2) {
  top: 6px;
}
.navbar-toggler-icon span:nth-child(3) {
  top: 12px;
}
.menu-btn:hover span:nth-child(1) {
  transform: rotate(100deg);
  right: 8px;
  top: 7px;
  width: 15px;
}
.menu-btn:hover span:nth-child(2) {
  transform: rotate(130deg);
}
.menu-btn:hover span:nth-child(3) {
  transform: rotate(340deg);
  right: 2px;
  bottom: 6px;
  width: 15px;
}

a.nav-link:hover,  .bd-footer a:hover, .bd-footer a:focus{
  color: var(--secondary-color-lt);
}
 .nav-link::before{
  content: '';
  height: 1px;
  background: var(--main-color-lt);
  display: block;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
a.nav-link:hover::before {
transform-origin: right top;
transform: scale(1, 1)
}
@media screen and (max-width: 990px) { /*don't know why but this == max-width:975px*/
  .navbar-collapse {
    background-color: var(--main-bg-color-light);
  }
  a.nav-link{
    position: relative;
  }
  a.nav-link:hover::before {
    transform: scale(1, 1)
  }
  .nav-link::before{
    content: '';
    height: 2px;
    background: linear-gradient(90deg,  var(--main-color-lt) 15%, var(--main-bg-color-light) 49%,  var(--main-color-lt) 85%);
    display: block;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
  }
}

#mainmemoji{
  width: 275px;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -150px;
  box-shadow: 1px 1px 10px #000000;
  padding: 0;
  animation-duration: .75s;
  animation-name: slideinLeft;
}
.hero{
  margin-top: 300px; 
}
.hero h1, .hero h2{
  animation-duration: .75s;
  animation-name: slideinRight;
}
.logoDiv{
  margin-top: -100px;
}
#logo{
  filter: opacity(0.3);
  padding-right: 50px;
}
@media screen and (min-width: 995px) {
  .hero{
    margin-bottom: 150px;
    height: 750px;
  }
  .logoDiv{
    margin-top: -120px;
  }
}
@media  screen and (max-width: 768px) {
  .hero{
    height: 880px;
  }
  .logoDiv{
    margin-top: 0px;
  }
}

.edu{
  box-sizing: border-box;
  box-shadow: 0px 10px 13px -7px var(--font-color);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background-color: var(--main-bg-color-light);
}
.edu img{
  display: block;
  margin: auto;
  background-color: var(--img-background);
  border-radius: 10px;
}
.aPlus{
  font-weight: 900;
  font-size: large;
}
.aMinus{
  font-weight: 100;
  font-size: medium;
}
.b{
  font-size: small;
}

.aHead1{
  text-align: center;
  margin-bottom: 2em;
}

.carousel-inner{
  height: 200px;
}
.qoutes{
  text-align: center;
  height: 200px;

}
.qoutes p{
    color: var(--main-color-lt);
}
.qText{  
  font-family: 'Delius Swash Caps', cursive;
  font-size: 1.7em;
  font-weight: 900;
}
#q1{
  color: #ccc;
}
#q1:hover{
  color: #888;
}
.carousel-caption {
  padding-bottom: 0;
}
@media  screen and (max-width: 425px) {
  .qText{  
    font-size: 1.3em;
  }
  .carousel-caption h6{
    font-size: .8em;
  }
}
@media  screen and (max-width: 320px) {
  .qText{  
    font-size: 1.1em;
  }

}

/* hubspot button */
#hubspot{
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  animation: glow .5s infinite alternate;
  animation-iteration-count: 6;
}

@keyframes glow {
    to {
      box-shadow: 1px 1px 100px 35px rgba(126,0,126,1);
    }
}
footer{
  color: var(--main-color-lt);
}
 footer .text-muted{
    color: var(--footer-muted)!important;
}

footer img{
  width: 25px;
}


/* loader */

.wrapper{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}
.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--main-color-lt);
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: var(--main-color-lt);
  }
  50%{
    transform: translateY(50px);
    background-color: var(--secondary-color-lt);
  }
  100%{
    transform: translateY(0px);
    background-color: var(--main-color-lt);
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
}
.circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
}


 /* dark mode switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--footer-muted);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--main-bg-color-light);
  bottom: 5px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: var(--secondary-color-lt);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* scrollbar */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: #fefee7;
  border-radius: 3px;
  border: 1px solid #000000;
}


@keyframes slideinRight{
    from{
    transform: translateX(100%);
    }
    to{
    transform: translateX(0);
    }
}
@keyframes slideinLeft{
    from{
    transform: translateX(-100%);
    }
    to{
    transform: translateX(0);
    }
}

.edu-animation{
  animation-duration: 1s;
  animation-name: wipe-enter;
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}






