:root{
    --footer: #FC997C;
    --font-color: #000;
    --footer-muted:#2733b3;
}
body{
    background-image: linear-gradient(to top, #00d2ff 0%, #fff 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
/*navbar, overwrite some of what it inherits from index.css*/
.navbar{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
.navbar a{
    color: #a1eeff;
}
.navbar a:hover{
    color: var(--footer);
}

/* article container */
.hero{
    margin-top: 250px;
    background-image: url("/items/trianglify-lowres.png");
    background-size: cover; 
    height: auto;
}
.heroInner{
    width: 800px;
    height: auto;
    background-color: #fff;
    color: var(--font-color);
    font-size: 20px;
    line-height: 1.5;
    border-radius: 3px;
}
.heroInner h2, .heroInner h4{
    font-weight: bold;
    background: url("/items/trianglify-lowres.png") no-repeat center center;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
}
/* main playground grid */
.body{
    margin: 130px 3em 10px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 300px 1fr 1fr 1fr 500px;
    gap: 1em;
    justify-items: center;
}
/* eyedrop near draggable rgballs */
#eyedrop{
    grid-column: 3/span 4;
    grid-row: 2;
    align-self: flex-start;
    padding: 0;
}
#dropper{
    margin-left: 45%;
}
#dropper:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#esc{
    position: fixed;
    top: 20px;
    background-color: white;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid;
    z-index: 9999;
    display: none;
}
#rgbDrop{
    display: none;
    margin-left: 1em;
}

/* box with draggable balls */
.rgbbox{
    width: 300px;
    height: 300px; 
    position: relative;
}
#b1{
    background-color: black;
    grid-column: 2/span 3;
    grid-row: 1/6;
}
#b2{
    background-color: white;
    grid-column: 5/span 3;
    grid-row: 1/6;
}
.rgball{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    position: absolute;
    mix-blend-mode: difference;
    display: inline-block;
    float: none;
}
#bred.rgball, #bcyan.rgball{
    background-color: red; 
    top: 75px;
    left: 100px;
}
#bgreen.rgball, #bmagenta.rgball{
    background-color: #00ff00;
    top: 125px;
    left: 75px;
}
#bblue.rgball, #byellow.rgball{
    background-color: blue;
    top: 125px;
    left: 125px;
}
.ballbtn{
    display: grid;
    grid-row: 1/6;
    align-content: space-evenly;
    height: 300px;
}
.bb1{
    grid-column: 1;
}
.bb2{
    grid-column: 8;
}
.label{/* label in middle of buttons */
    cursor: default;
}


/* growing shrinking ball near #main */
.colorwheel{
    grid-column: 1;
    grid-row: 3/ span 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.colorwheel div{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    transform: scale(0);
}

#green { background-color: #00ff00;}
#red { background-color: red;}
#blue { background-color: blue;}


/* background changing container */
#main {
    position: relative;
    grid-column: 2/span 4;
    grid-row: 3/ span 2;
    border: 2px solid;
    border-radius: 3px;
    color: white;
}
.bottomMain{
    position: absolute;
    bottom: 2em;
    width: 98%;
}
.colbtn{
    text-align: center;
}

/* viewed table */
#sidebartop{
    grid-column: 6/span 3;
    grid-row: 3/ span 2;
    width: 450px;
    max-height: 265px;
    display: block;
    overflow-y: auto;
    text-align: center;
}
#veiwed{
    width: 430px;
    cursor: auto;
}
th {
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
}
/* box under table */
#veiwer{
    grid-column: 6/span 3;
    grid-row: 4;
    width: 300px;
    height: 250px;
    border: 1px solid;
    border-radius: 3px;
    padding: 3em;
    font-weight: bolder;
    text-align: center;
}

/* ending paragragh */
#secP{
    grid-row: 5;
    padding: 2em;
    text-align: justify;
    height: 400px;
    margin-top: 100px;
    grid-column: 2/span 6;
}

/* footer */
footer{
    grid-row: -1;
    grid-column: 2/span 3;
    color: var(--footer-muted);
}
footer li{
    color: var(--footer-muted);
}
.bd-footer a{
    color: var(--footer);
}
.bd-footer a:hover{
    color: #fff;
}

@media screen and (max-width: 1330px){
    #dropper{
        margin-left: 10px;
    }
    .colbtn, .colbtn .btn{
        width: 100px;
    }
}
@media screen and (min-width: 1450px) {
    .body{
        grid-template-rows: 300px 1fr 1fr 1fr 500px;
    }
    #eyedrop{
        grid-column: 4/span 2;
        grid-row: 1;
        align-self: center;
        padding: 5em;
    }
    #dropper{
        margin-left: 10px;
    }
}

@media screen and (min-width: 2500px){
    
    .bb1{
        grid-column: 2;
    }
    .bb2{
        grid-column: 7;
    }
    #main{
        grid-column: 2/span 3;
    }
    .colorwheel{
        padding-top: 90px;
        padding-left: 150px;
    }
    #veiwer{
        grid-row: 3/ span 2;
        grid-column: 5/span 2;
        height: 350px;
    }
    .tblwrapper {
        max-height: 350px;
    }
    #sidebartop{
        max-height: 350px;
    }
    #secP{
        grid-column: 3/span 4;
    }
    
}
