.body{
    margin: 130px 3em 10px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr 1fr 1fr 300px 1fr;
    gap: 1em;
    justify-items: center;
}

.colorwheel{
    display: grid;
    grid-column: 1;
    grid-row: 1/ span 2;
    align-items: center;
    text-align: center;
}
.colorwheel ol{
    list-style-type: none;
}

.colorwheel li{
    padding: 1em;
    margin: 10px;
    border: 1px solid;
    border-radius: 4px;
    transition: .4s;
}

#cyan { color: cyan;}
#green { color: #00ff00;}
#yellow { color: yellow;}
#red { color: red;}
#magenta { color: magenta;}
#blue { color: blue;}

#main {
    position: relative;
    grid-column: 2/span 4;
    grid-row: 1/ span 2;
    border: 2px solid;
    border-radius: 3px;
}

.tblwrapper {
    display: block;
    width: 360px;
    display: block;
    overflow-y: auto;
    max-height: 320px;
    text-align: center;
}

.bottomMain{
    position: absolute;
    bottom: 2em;
    width: 98%;
}

.colbtn{
    text-align: center;
}

#sidebartop{
    grid-column: 6/span 3;
    grid-row: 1/ span 2;
    width: 450px;
    max-height: 265px;
}

#text{
    overflow: auto;
    max-height: 300px;
}
table {
    border-collapse: collapse;
    margin: auto;
    box-sizing: border-box;
    width: 330px;
    cursor: pointer;
}

#veiwed{
    width: 430px;
    cursor: auto;
}


td {
    border: 5px solid darkgray;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    border: 5px solid darkgray;
}



#veiwer{
    grid-column: 6/span 3;
    grid-row: 2;
    width: 300px;
    height: 250px;
    border: 1px solid;
    border-radius: 3px;
    padding: 3em;
    font-weight: bolder;
    text-align: center;
}
#eyedrop{
    grid-column: 3/span 4;
    align-self: flex-end;
    padding: 0;
}
#dropper{
    margin-left: 45%;
    }
@media screen and (min-width: 1450px) {
    .body{
        grid-template-rows: 1fr 1fr .3fr 1fr 1fr;
    }
    #eyedrop{
        grid-column: 4/span 2;
        grid-row: 4;
        align-self: center;
        padding: 5em;
    }
    #dropper{
    margin-left: 10px;
    }
}


#dropper:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#esc{
    position: fixed;
    top: 20px;
    background-color: white;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid;
    z-index: 9999;
    display: none;
}
#rgbDrop{
    display: none;
    margin-left: 1em;
}

.rgbbox{
    width: 300px;
    height: 300px; 
    position: relative;
}
#b1{
    background-color: black;
    grid-column: 2/span 3;
    grid-row: 4/6;
}
#b2{
    background-color: white;
    grid-column: 5/span 3;
    grid-row: 4/6;
}

.rgball{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    position: absolute;
    mix-blend-mode: difference;
    display: inline-block;
    float: none;
}

#bred.rgball, #bcyan.rgball{
    background-color: red; 
    top: 75px;
    left: 100px;
}
#bgreen.rgball, #bmagenta.rgball{
    background-color: #00ff00;
    top: 125px;
    left: 75px;
}
#bblue.rgball, #byellow.rgball{
    background-color: blue;
    top: 125px;
    left: 125px;
}
.ballbtn{
    display: grid;
    grid-row: 4/6;
    align-content: space-evenly;
    height: 300px;
}

.bb1{
    grid-column: 1;
}
.bb2{
    grid-column: 8;
}

.label{
    cursor: default;
}
/* .label:hover{
turn off
} */

#priP, #secP{
    grid-row: 5;
    padding: 2em;
    text-align: justify;
}
#priP{
    grid-column: 2/span 3;
}
#secP{
    grid-column: 5/span 3;
}

footer{
    grid-row: -1;
    grid-column: 2/span 3;
}

@media screen and (max-width: 1345px){
    .body{
        width: 100%;
    }
    .banner{
        position: fixed;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: rgb(255, 238, 0);
        color: black;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: 900;
        text-align: center;        
        transform-origin: left bottom;    
        display: block;
    }
    .banner#banner1{     
        top: 50px;
        font-size: 8em;       
        transform: skewy(25deg);
        z-index: 101;
  }
  .banner#banner2{
    bottom: 100px;
    font-size: 7em;
    transform: skewy(-20deg);
    transform-origin: left bottom;
    z-index: 100;
}
}
