body{
    background-image: url(items/brushed-alum.png);
    font-family: 'Comfortaa', cursive;
}

.bg-match-dark{
    background-image: url(items/brushed-alum.png);
    background-color: #594922;
    color: #fbebc4;
}

.nav-image {
    width: 100px;
    background-image: url(items/YIH1-nav.png);
    height: 61px;
    overflow: hidden;
}

.nav-image:hover, .nav-image:focus{
    transition: .25s;
    background-position-y: -64px;
}

a.nav-link, .bd-footer a {
    text-decoration: none;
    color: #fbebc4;
}
a.nav-link:hover, a.nav-link:focus, .bd-footer a:hover, .bd-footer a:focus{
    color: #4dd897
}

.btn-outline-success {
    border-color: #fbebc4;
    color: #fbebc4;
}

 footer .text-muted{
    color: #d1c199!important;
}

